/**********************
        colors
**********************/
/*  backgrounds  */
$backgroundColor: #fff;
$bgColorSecondary: #e5eaee;



/*   texts   */
$headlineColor: #333;
$textColor: #666;
$linkColor: #21a1e1;
$whiteDefaultColor: #ffffff;



/*   colors  */
$blueColor: #a5abc5;
$accentColor: #c99065;
$accentLightColor: #e1c184;

/*   rgba    */
$selectionColor: rgba(255, 255, 158, .8);
$selectionDarkColor: rgba(0, 0, 0, 0.728);