.hero {
  position: absolute;
  left: 50%;
  top: 46%;
  transform: translateX(-50%);
  @mixin clearfix;


  &__title {

    color: #fff;
    cursor: pointer;
    margin: 0 auto;
    text-align: center;
    font-size: 55px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.02em;

    @mixin atSmall {
      font-size: 68px;
      letter-spacing: 0.04em;
    }

    & span {
      display: inline-block;
      padding: 0.2em 0.5em;
      border: 8px solid #fff;
    }
  }

  &__subtitle {
    color: #fff;
    padding-top: 14px;
    text-align: center;
    font-weight: 100;
    font-size: 26px;
    font-style: italic;
    letter-spacing: 0.02em;
    line-height: 0.9;

    @mixin atSmall {
      padding-top: 0;
      font-size: 30px;
      line-height: 1;
      letter-spacing: 0.05em;
    }
  }
}