/********************
     navBar
********************/
.navBar {
  margin: 0 auto;
  padding-right: 40px;
  list-style: none;

  @mixin atSmall {
    padding-right: 175px;
  }

  @mixin atMedium {
    margin-right: 220px;
    padding-right: 0;
  }

  ul {
    margin: 0;
    padding: 0;
    @mixin clearfix;

  }

  & li {
    display: inline-block;

    & a {
      display: block;
      margin-right: 10px;
      padding: 5px;
      color: $selectionDarkColor;
      font-size: 12px;
      font-weight: 700;
      line-height: 1;
      text-transform: uppercase;



      @mixin atSmall {
        margin-right: 30px;
        font-size: 16px;
      }

      @mixin atMedium {
        margin-right: 65px;
      }

    }
  }
}