.socialBar {

  /*  socialBar--alignment  */
  &--alignment {
    display: flex;
    justify-content: space-around;

    /*  socialBar--alignment__items  */
    &__items {
      position: relative;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      transition: all 0.3s ease-in-out;

      &:hover {
        transform: scale(1.3);
      }

      a>svg {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 20px;
        height: 20px;
        color: #fff;
        text-align: center;
        transform: translate(-50%, -50%);
      }

      /*  socialBar Large !? */
      &--large {
        @mixin atSmall {
          width: 50px;
          height: 50px;
        }

        a>svg {
          @mixin atSmall {
            width: 30px;
            height: 30px;
          }
        }
      }

      /*  to change class on html file  */
      /*  socialBar--alignment--gold  */
      &--gold {
        background: $accentColor;
      }
    }
  }




  /*  socialBar--header 
  */
  &--header {
    max-width: 180px;
    margin: 15px auto;
    padding: 0;

    @mixin atSmall {
      position: absolute;
      top: 25px;
      right: 45px;
      margin: 0 !important;
    }

    @mixin atMedium {
      right: 60px;

    }

    &--mr {

      @mixin atSmall {
        margin-right: 20px;
      }

      @mixin atMedium {
        margin-right: 65px;
      }
    }
  }



  /*  socialBar--contact */
  &--contact {
    margin: 30px auto;
    max-width: 350px;

    @mixin atSmall {
      margin: 50px auto;
      max-width: 700px;
    }

    /* contact section ??????  
     remove to --mr margin right  
    */
    &__icons {}
  }



  /*  socialBar--footer */
  &--footer {
    max-width: 140px;
    margin: 5px auto;
    padding: 0;

    @mixin atSmall {
      position: absolute;
      bottom: 10px;
      right: 15px;
      margin: 0 !important;
    }

    /*  remove to --mr margin right  */
    &__icons {

      @mixin atSmall {
        margin-right: 20px;
      }
    }
  }
}






/*  
    socialBar_icon generic

*/
.generic-socialBar {
  display: flex;
  justify-content: space-around;

  &__icon {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;

    &:hover {
      transform: scale(1.3);
    }

    a>svg {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 20px;
      height: 20px;
      color: #fff;
      text-align: center;
      transform: translate(-50%, -50%);
    }

    /* &--small {*/
    /* display: block;*/

    &--large {
      @mixin atSmall {
        width: 50px;
        height: 50px;
      }

      a>svg {
        @mixin atSmall {
          width: 30px;
          height: 30px;
        }
      }
    }

    &--gold {
      background: $accentColor;
    }
  }
}